/*
  AUDIT TRAIL: 5.2
  1. Initial release.                        JWF 1/9/2002
  AUDIT TRAIL: 5.3
  2. For September 2002 release.             GPV 6/27/2002
  3. FOR UI phase II release		     RK  7/29/2002
     Following new classes added

     Tables 
           DATA With Border (Table class with borders)
		Its related classes defined as db.
 	   Non Tabular Data
		Related classes defined as (nt)

     	   Header class (TD.plheadermenulinks) for plain table.
	        This class defines attributes for header tables.
		
     Anchors
	   menulinktext2 (Menu classes)
	   sitemaplevel1 (Site Map level 1)
	   sitemaplevel2 (Site Map level 2)
	   sitemaplevel3 (Site Map level 3)

    	   whitespace link (This anchor gives more spacing at top and bottom)

  4. Fix for defect #53-0017 and #53-0018    Rk 8/23/2002
	  Added a campus pipeline class which will be used in body tag.
          Changed Input bg color to white
  5. Added a class fieldmediumtextbold for student 		Rk 9/3/2002

  AUDIT TRAIL:7.0						Rk 6/22/04
  1. Modify fonts to use Verdana
  2. Added tab styles to self service 	
	 
  AUDIT TRAIL END

  FILE NAME..: web_defaultapp.css
  RELEASE....: 7.0 
  PRODUCT....: WTLWEB
  COPYRIGHT..: Copyright (C) SCT Corporation 2002. All rights reserved.
*/


/* BROWSER CONSIDERATIONS - Overall
   ========================================================
   Rule:   Set margin-left and margin-right only on BODY, not on DIVS.
   Reason: Older browsers do not recognize margins on DIVs.

   Rule:   No underscores.
   Reason: Underscores are not valid in CSS syntax.

   Rule:   Use percentages to define font sizes. Normal text should be 90%.
   Reason: Presents text in the user's preferred font size. Facilitates page fluidity.

   Rule:   Use precentages to define margins.
   Reason: Facilitates page fluidity.

   Rule:   Apply font rules to TD and TH elements. Do not rely on inheritance from the BODY.
   Reason: Some browsers do not support inheritance well.
*/

/* TEXT CLASSES                                             */
/* All text classes should have rules defined for at least  */
/* the following properties (unless the class has a special */
/* purpose):                                                */
/* color, font-family, font-weight, font-size, font-style   */
/* text-align                                               */
/* ======================================================== */
.centeraligntext {
text-align: center;
}

.leftaligntext {
text-align: left;
}

.rightaligntext {
text-align: right;
}

.menulisttext {
list-style: none;
}

.captiontext {
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: bold;
font-size: 90%;
font-style: italic;
text-align: left;
margin-top: 1em;
}

.skiplinks {
display: none;
}

.pageheaderlinks {
color: #7aacd8;
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-weight: normal;
font-size: 80%;
font-style: normal;
text-align: right;
}

.requirementnotmet {
color: black;
}  

/* Class for Sub-menu Items                                  */
/* ========================================================  */
.pageheaderlinks2 {
color: #CED5EA;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-size: 90%;
text-align: justify;
}

.pageheaderlinks2 P{margin:0}

.pagebodylinks {
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-style: normal;
text-align: center;
}

.gotoanchorlinks {
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-style: normal;
text-align: left;
}

.pagefooterlinks {
color:#7aacd8;
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-weight: normal;
font-size: 80%;
font-style: normal;
text-align: center;
/* BROWSER CONSIDERATION - To make Netscape and IE compatible for PageFooter Division. */
/* Margin-left style specified for Netscape within parent SPAN tag,                    */
/* while IE uses the padding-left style within parent DIV tag.                         */
margin-left: 3px; 
}
.pagefooterlinks a:link, .pagefooterlinks a:visited{color:#7aacd8}
.pagefooterlinks a:hover, .pagefooterlinks a:visited:hover{color:#EA760A}

.backlinktext {
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-style: normal;
text-align: right;
margin-bottom: 5px;
}

.menuheadertext {
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: normal;
font-size: 100%;
font-style: normal;
text-align: left;
}

.menulinktext {
color: #0F2167;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: bold;
font-style: normal;
}

.menulinkdesctext {
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-style: normal;
text-align: left;
}

.normaltext {
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-style: normal;
text-align: left;
}

.infotext {
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-style: normal;
text-align: left;
}

.errortext {
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: bold;
font-size: 90%;
font-style: normal;
text-align: left;
}

.warningtext {
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: bold;
font-size: 90%;
font-style: normal;
text-align: left;
}

.multipagemsgtext {
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-style: normal;
text-align: left;
}

.releasetext {
color: #FFFFFF;
font-family: Arial, sans-serif;
font-weight: bold;
font-size: 80%;
font-style: normal;
text-align: left;
text-transform: uppercase;
padding-left:10px;
line-height:200%;
height:85px;
}

.requiredmsgtext {
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-style: normal;
text-align: left;
}

.fieldlabeltext {
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: bold;
font-size: 90%;
font-style: normal;
text-align: left;
}

.fieldlabeltextinvisible {
display: none;
}

.fieldrequiredtext {
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-style: normal;
text-align: left;
}

.fieldformattext {
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-style: normal;
text-align: left;
}

.fieldformatboldtext {
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: bold;
font-size: 90%;
font-style: normal;
text-align: left;
}

.fielderrortext {
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-style: normal;
text-align: left;
}

.fieldsmallboldtext {
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: bold;
font-size: 90%;
font-style: normal;
text-align: left;
}

.fieldsmalltext {
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-style: normal;
text-align: left;
}

.fieldmediumtext {
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-style: normal;
text-align: left;
}

.fieldlargetext {
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: bold;
font-size: 110%;
font-style: normal;
text-align: left;
}

.fieldmediumtextbold {
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: bold;
font-size: 90%;
font-style: normal;
text-align: left;
}

.fieldOrangetextbold {
color: ORANGE;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: bold;
font-size: 90%;
font-style: normal;
text-align: left;
}

/* ANCHORS (LINKS)                                          */
/* ======================================================== */
A:link{color:#00397c;text-decoration:none;}

A:visited{color:#AA3399;text-decoration:none;}

A:active{color:#EA760A;}

A:hover{color:#EA760A;text-decoration:none;}


/* ANCHOR Definitions for Home Page MenuItems class.        */
/* ======================================================== */
A.menulinktext {
font-family:  Verdana,Arial Narrow, helvetica, sans-serif;
font-weight: bold;
font-size: 90%;
font-style: normal;
color:#00397c;
text-decoration: none;
}


A.submenulinktext {
font-family:  Verdana,Arial Narrow, helvetica, sans-serif;
font-weight: bold;
font-size: 90%;
font-style: normal;
text-transform: none;
color:#00397c;
text-decoration: none;
}

A.submenulinktext:hover {
background-color: #1E2B83;
font-family:  verdana,Arial Narrow, helvetica, sans-serif;
font-weight: bold;
font-size: 90%;
font-style: normal;
text-align: justify;
text-transform: none;
color: #FFFFFF;
text-decoration: none;
}

A.submenulinktext:visited {
font-family:  Verdana,Arial Narrow, helvetica, sans-serif;
font-weight: bold;
font-size: 90%;
font-style: normal;
text-transform: none;
color:#00397c;
text-decoration: none;
}

A.submenulinktext:visited:hover {
background-color: #1E2B83;
font-family:  Verdana,Arial Narrow, helvetica, sans-serif;
font-weight: bold;
font-size: 90%;
font-style: normal;
text-align: justify;
text-transform: none;
color: #FFFFFF;
text-decoration: none;
}

A.submenulinktext2 {
font-weight: normal;
font-size: 90%;
color:#7aacd8;
text-decoration:none;
}

A.submenulinktext2:hover {
font-weight: normal;
font-size: 90%;
color:#EA760A;
text-decoration:underline;
}

A.submenulinktext2:visited {
font-family:  Verdana,Arial Narrow, helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-style: normal;
color:#7aacd8;
text-decoration: none;
}

A.submenulinktext2:visited:hover {
font-family:  Verdana,Arial Narrow, helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
text-decoration:underline;
color:#EA760A;
}



A.whitespacelink 
{ 
line-height: 200%;
COLOR: #1E2B83;
text-decoration: underline;
}


A.largelinktext {
font-family: Verdana,Arial,  helvetica, sans-serif;
font-weight: bold;
font-size: 110%;
font-style: normal;
text-align: left;
text-decoration: underline;
}


A.sitemaplevel1 {
font-family:  Verdana,Arial, helvetica, sans-serif;
font-weight: bold;
font-size: 80%;
font-style: normal;
text-align: left;
text-decoration: none;
color:       #1E2B83;
}

A.sitemaplevel1:visited {
font-family: Verdana,Arial,  helvetica, sans-serif;
font-weight: normal;
font-size  : 80%;
font-style : normal;
text-align : left;
text-decoration: none;
color:#00397c;
}

A.sitemaplevel1:hover {
font-family: Verdana,Arial,  helvetica, sans-serif;
font-weight: normal;
font-size  : 80%;
font-style : normal;
text-align : left;
text-decoration:underline;
color:#EA760A;
}


A.sitemaplevel2 {
font-family: Verdana,Arial,  helvetica, sans-serif;
font-weight: normal;
font-size: 70%;
font-style: normal;
text-align: left;
text-decoration: none;
color:#00397c;
}

A.sitemaplevel2:visited {
font-family:  Verdana, Arial,  helvetica, sans-serif;
font-weight: normal;
font-size  : 70%;
font-style : normal;
text-align : left;
text-decoration: none;
color:#00397c;
}

A.sitemaplevel2:hover {
font-family: Verdana,Arial,  helvetica, sans-serif;
font-weight: bold;
font-size  : 70%;
font-style : normal;
text-align : left;
text-decoration:underline;
color:#EA760A;
}

A.sitemaplevel3 {
font-family: Verdana,Arial,  helvetica, sans-serif;
font-weight: normal;
font-size: 60%;
font-style: normal;
text-align: left;
text-decoration: none;
color:#00397c;
}

A.sitemaplevel3:visited {
font-family: Verdana,Arial,  helvetica, sans-serif;
font-weight: normal;
font-size  : 60%;
font-style : normal;
text-align : left;
text-decoration: none;
color:#00397c;
}

A.sitemaplevel3:hover {
font-family: Verdana,Arial,  helvetica, sans-serif;
font-weight: bold;
font-size  : 70%;
font-style : normal;
text-align : left;
color:#EA&60A;
text-decoration:underline;
}


/* ANCHOR Definitions for Home Page MenuItems class.        */
/* ======================================================== */


A.whitespacelink 
{ 
line-height: 200%;
color: black;
text-decoration: underline;
}


A.largelinktext {
font-family: Verdana, Arial,  helvetica, sans-serif;
font-weight: bold;
font-size: 120%;
font-style: normal;
text-align: left;
text-decoration: underline;
}


A.sitemaplevel1 {
font-family: Verdana, Arial,  helvetica, sans-serif;
font-weight: normal;
font-size: 80%;
font-style: normal;
text-align: left;
text-decoration: none;
color:#00397c;
}

A.sitemaplevel1:visited {
font-family: Verdana, Arial,  helvetica, sans-serif;
font-weight: normal;
font-size  : 80%;
font-style : normal;
text-align : left;
text-decoration: none;
color:#00397c;
}

A.sitemaplevel1:hover {
font-family: Verdana, Arial,  helvetica, sans-serif;
font-weight: normal;
font-size  : 80%;
font-style : normal;
text-align : left;
text-decoration:underline;
color:#EA760A;
}


A.sitemaplevel2 {
font-family: Verdana, Arial,  helvetica, sans-serif;
font-weight: normal;
font-size: 80%;
font-style: normal;
text-align: left;
text-decoration: none;
color:#00397c;
}

A.sitemaplevel2:visited {
font-family: Verdana, Arial,  helvetica, sans-serif;
font-weight: normal;
font-size  : 80%;
font-style : normal;
text-align : left;
text-decoration: none;
color:#00397c;
}

A.sitemaplevel2:hover {
font-family: Verdana, Arial,  helvetica, sans-serif;
font-weight: normal;
font-size  : 80%;
font-style : normal;
text-align : left;
text-decoration:underline;
color:#EA760A;
}

A.sitemaplevel3 {
font-family: Verdana, Arial,  helvetica, sans-serif;
font-weight: normal;
font-size: 60%;
font-style: normal;
text-align: left;
text-decoration: none;
color:#00397c;
}

A.sitemaplevel3:visited {
font-family: Verdana, Arial,  helvetica, sans-serif;
font-weight: normal;
font-size  : 60%;
font-style : normal;
text-align : left;
text-decoration: none;
color:#00397c;
}

A.sitemaplevel3:hover {
font-family: Verdana, Arial,  helvetica, sans-serif;
font-weight: normal;
font-size  : 60%;
font-style : normal;
text-align : left;
text-decoration: none;
text-decoration:underline;
color:#EA760A;
}


.whitespace1{
padding-top:0em;
}

.whitespace2{
padding-top:1em;
}
.whitespace3{
padding-top:2em;
}
.whitespace4{
padding-top:3em;
}

/* BODY                                                     */
/* ======================================================== */
BODY {
background-color: #00397c;
color: black;
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-style: normal;
text-align: left;
/* BROWSER CONSIDERATION - Override browser settings for BODY margin */
margin:0;
}
BODY.campuspipeline {
background-color: #00397c;
color: black;
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-style: normal;
text-align: left;
/* BROWSER CONSIDERATION - Override browser settings for BODY margin */
margin-top:5px;

/*margin-right: -6px;*/
background-image: none;
background-repeat: no-repeat;
}
BODY.previewbody {
background-color: #FFFFFF;
color: black;
font-family: Verdana, Arial Narrow, helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-style: normal;
text-align: left;
margin-left: 0;
margin-right: 0;
/* Override the background image in the main BODY */
background-image: none;
}
BODY.validationbody {
background-color: #FFFFFF;
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-style: normal;
text-align: left;
margin-left: 0%;
margin-right: 2%;
/* Override the background image in the main BODY */
background-image: none;
}

/* DIVIDES                                                  */
/* All divides should have rules defined for margin and     */
/* text-align.                                              */
/* ======================================================== */
DIV.menulistdiv {
text-align: left;
}

DIV.headerwrapperdiv {

margin-left: 0px;
margin-top: 0px;
background-color:#00397c;
}

DIV.pageheaderdiv1 {
text-align: left;
margin-top: 0;
background-image: url(../bucknell/myBucknell.png);
background-repeat:no-repeat;
background-position: 10px 5px;
padding-top:40px;
margin-left: 0px;
border-bottom: 0px solid;
border-left: 0px solid;
border-right: 0px solid;
border-top: 0px solid;
}

DIV.pageheaderdiv2 {
text-align: right;
margin-top: 10px;
margin-right: 10px;
position: absolute;
top: 0px;
right: 0px;
float: right;
display: none;

}

DIV.headerlinksdiv {
text-align: left;
margin-right: 0%;
margin-top: 0;
border-bottom:3px solid #dee9eb;
}

/* Class for BANNER SEARCH Form text and button controls     */
/* ========================================================  */
DIV.headerlinksdiv2 {
color: #7aacd8;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: bold;
font-size: 90%;
font-style: normal;
text-align: left;
text-transform: none;
}

DIV.bodylinksdiv {
text-align: center;
margin-top: 1%;
}

DIV.footerlinksdiv {
text-align: center;
background-color:#00397c;
}

DIV.backlinkdiv {
text-align: right;
margin-top: -40px;
}

DIV.pagetitlediv {
text-align: left;
background-color:#00397c;
}
DIV.pagetitlediv H2{
	background-image: url(../bucknell/selfserv_logo.png);
	background-position:center left;
	background-repeat:no-repeat;
	color:#FFFFFF;
	padding-left:165px;
	margin:0;
}

DIV.infotextdiv {
text-align: left;
}

DIV.infotextdiv p{margin-top:10px;margin-bottom:10px;}

DIV.pagebodydiv {
text-align: left;
background-color:#fff;
padding:15px;
}

DIV.pagefooterdiv {
text-align: left;
border: 0px;
margin-top: 0px;
float: left;
}

DIV.poweredbydiv {
text-align: right;
margin-top: 0px;
padding-left:15px;
border-bottom: 0px solid;
border-left: 0px solid;
border-right: 0px solid;
border-top: 0px solid;
background-color:#00397c;
}
DIV.poweredbydiv img{height:85px;width:307px;}

DIV.previewdiv {
text-align: center;
}

DIV.validationdiv {
text-align: center;
}

DIV.staticheaders {
text-align: right;
font-size:  90%;
color:#7aacd8;
}
/* HEADERS                                                  */
/* Do not set font-size for headers - defer to browser.      */
/* ======================================================== */
/* H1 is reserved for Page Header */
H1 {
color: #00397c;ex
font-family: verdana, Arial Narrow,  helvetica, sans-serif;
font-weight: bold;
font-style: normal;
font-size:0%;
margin-top: 0px;
}


/* H2 is reserved for Page Title */
H2 {
color	   : BLACK;
font-family: verdana, Arial Narrow,  helvetica, sans-serif;
font-weight: normal;
font-style : normal;
}

/* H3 is reserved for Sub Title */
H3 {
color	   : BLACK;
font-family: verdana, Arial Narrow,  helvetica, sans-serif;
font-weight: normal;
font-style : normal;
}

/* Horizontal Rule for Menu Section                         */
/* ======================================================== */

HR {
color: #CCCC33;
text-align: left;
vertical-align: top;
margin-top: -10px;
HEIGHT="2"
}

HR.pageseprator {
color: #003366;
text-align: left;
vertical-align: top;
}


/* FORM CONTROLS                                            */
/* ======================================================== */
INPUT {
/*background-color: #FFFFFF;*/
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-style: normal;
}


TEXTAREA {
/*background-color: #FFFFFF;*/
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-style: normal;

}

SELECT {
/*background-color: #FFFFFF;*/
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-style: normal;
}



/* TABLES                                                   */
/* ======================================================== */
TABLE.dataentrytable {
border-bottom: 0px solid;
border-left: 0px solid;
border-right: 0px solid;
border-top: 0px solid;
}

TABLE.datadisplaytable {
border-bottom: 0px solid;
border-left: 0px solid;
border-right: 0px solid;
border-top: 0px solid;
}

TABLE.plaintable {
border-bottom: 0px solid;
border-left: 0px solid;
border-right: 0px solid;
border-top: 0px solid;
}

TABLE.menuplaintable {
/* Create a horizontal rule effect. */
border-top: 1pt #707070 solid;
}

TABLE.pageheadertable {
margin-top: 0px;
}

TABLE.colorsampletable {
background-color: #FFFFFF;
}

TABLE.bordertable {
border-collapse:collapse;
border-bottom: 1px solid;
border-left: 1px solid;
border-right: 1px solid;
border-top: 1px solid;
}

/* TABLE HEADERS AND DATA CELLS                             */
/* ======================================================== */
TABLE TH {
vertical-align: top;
color: black;
}

TABLE TD {
vertical-align: top;
color: black;
}

.pageheadertablecell {
text-align: left;
}

.pageheadernavlinkstablecell {
text-align: right;
}

/* DATA ENTRY TABLE HEADERS AND DATA CELLS                  */
/* Some font rules are redunant because they do not         */
/* inherit well from the BODY on older browsers.            */
/* ======================================================== */
TABLE TD.deheader {
background-color: #E3E5EE;
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: bold;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
}

TABLE TH.deheader {
background-color: #E3E5EE;
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: bold;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
}

TABLE TD.detitle {
background-color: #E3E5EE;
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: bold;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
/* Make titles big and chunky. */
padding-bottom: 1em;
}

TABLE TH.detitle {
background-color: #E3E5EE;
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: bold;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
/* Make titles big and chunky. */
padding-bottom: 1em;
}

TABLE TD.delabel {
background-color: #E3E5EE;
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: bold;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
}

TABLE TH.delabel {
background-color: #E3E5EE;
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: bold;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
}

TABLE TD.deseparator {
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
}

TABLE TD.dehighlight {
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
}

TABLE TD.dedead {
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
}

TABLE TD.dedefault {
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
}

TABLE TD.dewhite {
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
}

TABLE TD.deborder {
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-style: normal;
text-align: left;
border: 1px solid;

}

/* DATA DISPLAY TABLE HEADERS AND DATA CELLS                */
/* Some font rules are redunant because they do not         */
/* inherit well from the BODY on older browsers.            */
/* ======================================================== */
TABLE TD.ddheader {
background-color: #E3E5EE;
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: bold;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
}

TABLE TH.ddheader {
background-color: #E3E5EE;
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: bold;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
}

TABLE TD.ddtitle {
background-color: #E3E5EE;
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: bold;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
/* Make titles big and chunky. */
padding-bottom: 1em;
}

TABLE TH.ddtitle {
background-color: #E3E5EE;
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: bold;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
/* Make titles big and chunky. */
padding-bottom: 1em;
}

TABLE TD.ddlabel {
background-color: #E3E5EE;
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: bold;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
}

TABLE TH.ddlabel {
background-color: #E3E5EE;
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: bold;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
}


TABLE TD.ddseparator {
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
}

TABLE TD.ddhighlight {
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
}

TABLE TD.dddead {
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
}

TABLE TD.dddefault {
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
/*border-bottom: 1pt #BFBFBF solid; */
}

TABLE TD.ddnontabular {
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
}

TABLE TD.ddwhite {
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
}

/* PLAIN TABLE HEADERS AND DATA CELLS                       */
/* These table data cell classes pertain to a table that is */
/* used strictly for layout. They do not have the redundant */
/* font rules because it is assumed that whatever is placed */
/* in these TD/TH tags will have its own class.             */
/* ======================================================== */
TABLE TD.pltitle {
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-weight: bold;
}

TABLE TD.plheader {
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-size: 90%;
font-weight: bold;
}

TABLE TH.pllabel {
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-size: 90%;
font-weight: bold;
}

TABLE TD.plseparator {
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
}

TABLE TD.plhighlight {
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
}

TABLE TD.pldead {
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
}

TABLE TD.pldefault {
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
}

TABLE TD.plwhite {
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: normal;
font-size: 90%;

}
TABLE TD.plheaderlinks {
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: normal;
font-size: 90%;

}


/*========================================================*/
/*=======  Class for header links=========================*/
/*========================================================*/

TABLE TD.plheadermenulinks {
font-weight: normal;
/*background-color:#CED5EA;*/
}




/* MENU PLAIN TABLE HEADERS AND DATA CELLS                  */
/* ======================================================== */
TABLE TD.mptitle {
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: bold;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
}

TABLE TD.mpheader {
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: bold;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
}

TABLE TH.mplabel {
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: bold;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
}

TABLE TD.mpwhite {
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
}

TABLE TD.mpdefault {
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
}

TD.mpdefault a{color:#00397c;font-weight:bold;}
TD.mpdefault a:visited{color:#AA3399;font-weight:bold;}
TD.mpdefault a:hover{font-weight:bold !important;}

TABLE TD.indefault {
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-style: normal;
text-align: left;
}

/* Define tables with border				    */
/* ======================================================== */
TABLE TD.dbheader {
background-color: #E3E5EE;
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: bold;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
border: 1px solid;
}

TABLE TH.dbheader {
background-color: #E3E5EE;
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: bold;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
border: 1px solid;
}

TABLE TD.dbtitle {
background-color: #E3E5EE;
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: bold;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
/* Make titles big and chunky. */
padding-bottom: 1em;
border: 1px solid;
}

TABLE TH.dbtitle {
background-color: #E3E5EE;
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: bold;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
/* Make titles big and chunky. */
padding-bottom: 1em;
border: 1px solid;
}

TABLE TD.dblabel {
background-color: #E3E5EE;
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
border: 1px solid;
}

TABLE TH.dblabel {
background-color: #E3E5EE;
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: bold;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
border: 1px solid;
}
TABLE TD.dbdefault {
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
border: 1px solid;
}




/* NON TABULAR TABLE DATA DISPLAY  HEADERS AND DATA CELLS  */
/* Some font rules are redunant because they do not         */
/* inherit well from the BODY on older browsers.            */
/* ======================================================== */
TABLE TD.ntheader {
background-color: #E3E5EE;
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: bold;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
}

TABLE TH.ntheader {
background-color: #E3E5EE;
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: bold;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
}

TABLE TD.nttitle {
background-color: #E3E5EE;
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: bold;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
/* Make titles big and chunky. */
padding-bottom: 1em;
}

TABLE TH.nttitle {
background-color: #E3E5EE;
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: bold;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
/* Make titles big and chunky. */
padding-bottom: 1em;
}

TABLE TD.ntlabel {
background-color: #E3E5EE;
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: bold;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
}

TABLE TH.ntlabel {
background-color: #E3E5EE;
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: bold;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
}

TABLE TD.ntseparator {
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
}

TABLE TD.nthighlight {
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
}

TABLE TD.ntdead {
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
}

TABLE TD.ntdefault {
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
}

TABLE TD.ntwhite {
color: black;
font-family: Verdana,Arial Narrow,  helvetica, sans-serif;
font-weight: normal;
font-size: 90%;
font-style: normal;
text-align: left;
vertical-align: top;
}
/*

New Tab styles for Self Service

*/
.bgtabon {
	width:6px;
	color:#00397c;
	background-color:#00397c;
	BACKGROUND-IMAGE: url(../wtlgifs/new/tab_bg_right_on.png);
}
.bgtabon img{display:none;}
.bgtaboff {
	width:6px;
	color:#fff;
	background-color:#00397c !important;
	BACKGROUND-IMAGE: url(../wtlgifs/new/tab_bg_right_off.png);
}
.bgtaboff img{display:none;}

.texttabon {
	COLOR: #00397c
}
.texttaboff {
	COLOR: #000000
}
.tabon {
	PADDING:10px 8px 10px 15px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../wtlgifs/new/tab_bg_left_on.png); COLOR: #00397c; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #00397c;border-left:solid 5px transparent;
}
.tabon A:link {
	COLOR: #00397c !important; TEXT-DECORATION: none
}
.tabon A:visited {
	COLOR: #00397c !important; TEXT-DECORATION: none
}
.tabon A:active {
	COLOR: #ea760a !important; TEXT-DECORATION: none
}
.tabon A:hover {
	COLOR: #ea760a !important; TEXT-DECORATION: none
}

.tabdisable{
	PADDING:10px 8px 10px 15px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../wtlgifs/new/tab_bg_left_off.png); COLOR: #333; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #00397c !important;border-left:solid 5px transparent;
}

.taboff {
	PADDING:10px 8px 10px 15px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../wtlgifs/new/tab_bg_left_off.png); COLOR: #000000; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #00397c !important;border-left:solid 5px transparent;
}
.taboff A:link {
	COLOR: #000000 !important; TEXT-DECORATION: none
}
.taboff A:visited {
	COLOR: #000000 !important; TEXT-DECORATION: none
}
.taboff A:active {
	COLOR: #000000 !important; TEXT-DECORATION: none
}
.taboff A:hover {
	COLOR: #EA760A !important; TEXT-DECORATION: none
}

/*TARGETING ONLY SUB-TABS*/
.pagebodydiv .bgtaboff{background-color:#fff !important;}
.pagebodydiv .taboff, .pagebodydiv .tabdisable{background-color:#fff !important;}
.pagebodydiv .bgtabon{background-color:#fff !important; BACKGROUND-IMAGE: url(../wtlgifs/new/sub_tab_bg_right_on.png);}
.pagebodydiv .tabon {background-color:#fff !important; BACKGROUND-IMAGE: url(../wtlgifs/new/sub_tab_bg_left_on.png);}

.bg3 {
	BACKGROUND-COLOR: #EA760A;
}



